*,
*:before,
*:after
	box-sizing: border-box

body
	font-size: 16px
	font-weight: 400
	font-family: 'Roboto'
	color: rgba($black,0.87)
	background-color: $white
	-webkit-tap-highlight-color: rgba($black,0)
	-webkit-touch-callout: none
	-moz-osx-font-smoothing: grayscale
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
